<% if feedback_call.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% feedback_call.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
