<% if product_category.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% product_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
