<div class="flex items-center mt-8">
  <div class="w-6 h-6">
    <%= image_tag("partials_img/user.png") %>
  </div>
  <div class="ml-2 text-gray-800 text-base font-medium">
    Personal data
  </div>
  <div class="absolute left-[50%] ml-2 text-gray-800 text-base font-medium">
    <%= link_to 'Change button', edit_profile_path(current_user) %>
  </div>
</div>
<div class="mt-2 mb-4 w-full h-px bg-gray-400"></div>

<div>
  <div class="flex flex-col lg:flex-row lg:justify-between items-center space-x-4">
    <div class="w-full lg:w-3/5">
      <div>
        First name
      </div>
      <div class="mt-1 w-full rounded">
        <%= current_user.first_name %>
      </div>
    </div>

    <div class="w-full lg:w-3/5">
      <div>
        Last name
      </div>
      <div class="mt-1 w-full rounded">
        <%= current_user.last_name %>
      </div>
    </div>
  </div>
</div>