<span class="fw-bold" id="<%= dom_id(cart_item, "total_price") %>">
  <% if cart_item.cartable.is_a?(Product) %>
    ₴ <%= (cart_item.cart_item_option_values.sum(&:price)) * cart_item.quantity %>
  <% end %>
</span>
