<div id="cart_body" class="w-full h-full flex justify-center items-center pb-20">
  <% if current_cart.cart_items.empty? %>
    <div class="flex flex-col justify-center items-center">
      <%= image_tag("partials_img/empty_basket.png") %>
      <p class="text-base text-gray-400 mt-4">Still empty...</p>
    </div>
  <% end %>
</div>
