<div id="cart_body">
  <% if current_cart.cart_items.empty? %>
    <div class="w-full h-1/2 pos-center flex justify-center items-center">
      <div class="flex flex-col justify-center items-center">
        <%= image_tag("partials_img/empty_basket.png", alt: "empty_basket") %>
        <p class="text-base text-gray-400 mt-4"><%= t("cart.empty_cart_body.empty") %></p>
      </div>
    </div>
  <% end %>
</div>
