<div>
  <% if params[:material] == 'Nylon, PC' %>
    <%= render partial: "static_pages/printing/quality", 
                          locals: { 
                            quality: quality,
                            quality_mm: quality_mm,
                            price_per_fifth: fdm_materials_price_for_table('Nylon, PC')[quality][:price_per_fifth],
                            price_per_hundredth: fdm_materials_price_for_table('Nylon, PC')[quality][:price_per_hundredth],
                            price_per_hundred_and_fifty: fdm_materials_price_for_table('Nylon, PC')[quality][:price_per_hundred_and_fifty],
                          } 
    %>
  <% elsif params[:material] == 'TPU, ELASTAN: D70, D100, D160' %>
    <%= render partial: "static_pages/printing/quality", 
                          locals: { 
                            quality: quality,
                            quality_mm: quality_mm,
                            price_per_fifth: fdm_materials_price_for_table('TPU, ELASTAN: D70, D100, D160')[quality][:price_per_fifth],
                            price_per_hundredth: fdm_materials_price_for_table('TPU, ELASTAN: D70, D100, D160')[quality][:price_per_hundredth],
                            price_per_hundred_and_fifty: fdm_materials_price_for_table('TPU, ELASTAN: D70, D100, D160')[quality][:price_per_hundred_and_fifty],
                          } 
    %>
  <% else %>
    <%= render partial: "static_pages/printing/quality", 
                          locals: { 
                            quality: quality,
                            quality_mm: quality_mm,
                            price_per_fifth: fdm_materials_price_for_table('ABS+, PLA, PET, coPET')[quality][:price_per_fifth],
                            price_per_hundredth: fdm_materials_price_for_table('ABS+, PLA, PET, coPET')[quality][:price_per_hundredth],
                            price_per_hundred_and_fifty: fdm_materials_price_for_table('ABS+, PLA, PET, coPET')[quality][:price_per_hundred_and_fifty],
                          } 
    %>
  <% end %>
</div>