<header class="w-full h-16 fixed z-30 bg-light-grey">
 <div class="w-full max-w-screen-2xl mx-auto flex justify-between items-center px-7 lg:px-[86px]">
    <div class="flex w-1/2 justify-between">
      <span class="text-2xl">Admin Dashboard</span>
      <div class="w-24">
        <%= link_to admin_dashboard_path do %>
          <%= image_tag("partials_img/logo.png") %>
        <% end %>
      </div>
      <nav class="w-2/3 hidden lg:block text-gray-800 font-medium">
        <ul class="h-full flex flex-col lg:flex-row flex-initial justify-between items-center text-center tracking-wide">
          <li class="px-4 cursor-pointer">
            <%= active_link_to "Products", admin_products_path %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
