<div class="lg:px-24 max-w-screen-2xl mt-16 mx-auto w-full">
  <table>
    <thead class="text-gray-700 bg-gray-50">
      <tr class="text-base">
        <th class="px-6 py-3" scope="col">ID</th>
        <th class="px-6 py-3" scope="col">PHONE NUMBER</th>
        <th class="px-6 py-3" scope="col">PROCESSED</th>
        <th class="px-6 py-3" scope="col">CREATED AT</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "dredd/feedback_calls/feedback_call", collection: @feedback_calls %>
    </tbody>
  </table>
  <%= pagy_nav(@pagy).html_safe if @pagy.pages > 1 %>
</div>

