<div class="lg:px-24 max-w-screen-2xl mt-16 mx-auto w-full">
  <div class="mt-9">
    <%= turbo_frame_tag "new-dredd-worker-form" do  %>
      <%= render "form", worker: @worker %>
    <% end %>
  </div>
</div>
