</br>
</br>
</br>
<div class="grid gap-2 grid-cols-6 mb-6 p-6">
  <div class="metrics-item">
    <div class="metrics-value">
      <%= @users_count %>
    </div>
    <div class="metrics-label">Users count</div>
  </div>
  <div class="metrics-item">
    <div class="metrics-value">
      <%= @new_orders %>
    </div>
    <div class="metrics-label">Order count</div>
  </div>
  <div class="metrics-item">
    <div class="metrics-value">
      <%= @new_feedback_calls %>
    </div>
    <div class="metrics-label">New feedback call</div>
  </div>
</div>