<div class="w-full max-w-screen-2xl mx-auto px-7 md:px-16 lg:px-24">
  <%= turbo_frame_tag "lazy-content" do %>
    <%= render partial: "lazy_content" %>
  <% end %>
  <%= render partial: "shared/upload_form", locals: { model: @modeling_order, order_name: "modeling", image_icon: "picture-and-pdf" } %>
  <%= turbo_frame_tag "modeling-modal" %>
</div>
