.form-select {
  @apply w-full p-0 border-none bg-none rounded bg-transparent;
}

.form-select.error .ts-control,
.multi-select.error .ts-control {
  @apply border-danger;
}

/*///// Tom-Select theme https://tom-select.js.org /////*/

.ts-control {
  height: 40px;
  @apply bg-gray-50 border-1 border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full;
}

.ts-control input {
  @apply text-base;
}

.ts-control input::placeholder {
  @apply text-disabled italic text-base;
}

.ts-control::before {
  @apply absolute right-0 top-0 w-btn-default h-full bg-transparent text-white cursor-pointer;
  content: "";
}

.ts-control::after {
  @apply absolute right-2.5 inline-block border-none;
  content: "";
  -webkit-mask-image: url("icons_svg/chevron-down.svg");
  mask-image: url("icons_svg/caret-chevron.svg");
  width: 20px;
  height: 20px;
  z-index: 1;
  top: 50%;
  margin-top: -10px;
}

.ts-control:hover,
.form-select.inverted .ts-control:hover,
.form-group.inverted .ts-control:hover,
.multi-select.inverted .ts-control:hover {
  &::before {
    @apply bg-transparent;
  }
}

.ts-control .item {
  @apply text-base font-normal;
}

.ts-wrapper .ts-dropdown {
  @apply rounded bg-white text-black border border-bordercolor shadow;
  border-top-width: 1px !important;
  border-style: solid !important;
}

.ts-dropdown .option {
  @apply w-full flex items-center pl-6 pr-8 py-2 bg-transparent hover:no-underline cursor-pointer text-base font-normal first:rounded-t last:rounded-b;
}

.ts-dropdown .option.selected {
  @apply text-primary hover:text-primary bg-transparent;

  &::before {
    @apply inline-block mr-2 bg-primary;
    content: "";
    width: 20px;
    height: 20px;
  }
}

.has-items .ts-control .item {
  @apply pt-1;
}

/* Multi select item */

.ts-wrapper.multi .ts-control,
.ts-wrapper.multi.has-items .ts-control {
  @apply h-auto min-h-12 bg-white;
}

.ts-wrapper.multi .ts-control div.item {
  @apply flex-row flex-grow-0 items-stretch mr-1 mt-1 mb-1 ml-0 pl-3 pr-0 pt-0.5 pb-0.5 relative text-sm text-black border-none rounded;
  height: 22px;

  & a {
    @apply flex items-center justify-center -my-0.5 text-primary hover:text-white hover:bg-danger rounded-r;
    text-size: 0;
  }

  & a:hover::after {
    @apply bg-white;
  }

  & a::after {
    @apply inline-block bg-primary;
    content: "";
    width: 18px;
    height: 18px;
    top: 3px;
  }
}
