@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tom-select/dist/css/tom-select.css";
@import "dropzone/dist/dropzone.css";
@import "swiper/swiper.scss";
@import "lightgallery/css/lightgallery.css";

@import "components/pagy";
@import "components/form";
@import "components/select";
@import "components/checkboxes-radiobuttons";
@import "components/toggle-switch";
@import "components/typography";
@import "components/dropzone";
@import "components/drawer";
@import "components/metrics";

div.field_with_errors > label {
  @apply border-red-500;
}

div.field_with_errors > :is(input, textarea, select) {
  @apply border-red-500 placeholder-red-500;
}

#stuff_to_hide {
  display: none;
}

*,
::after,
:before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

body:has(.drawer-wrapper[open]) {
  overflow: hidden;
}

#sidebar-mobile {
  display: none;
}

body:has([data-slideover-open-value="true"]) {
  overflow: hidden;
  #sidebar-mobile {
    display: block;
  }
}

.screen-height {
  height: calc(100vh-68px);
}

/* content */

.content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

/* input */

input,
textarea,
select {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding: 0 16px;
  border: 1px solid #6e7579;
}

textarea {
  padding: 10px 16px;
  resize: none;
}

input[type="checkbox"] {
  display: flex;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  padding: 0;
}

/* dividers */

.title-divider,
.content-divider {
  margin: 20px 0;
  height: 1px;
  background-color: #b2bdc5;
}

.content-divider {
  margin: 12px 0;
}

.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* button */

.button {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1c232;
  border-radius: 12px;
  text-transform: uppercase;
  color: #302232;
  font-weight: 500;
  border: 0;
  cursor: pointer;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.button:hover {
  background-color: #f0b400;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.151);
}

.bg-header {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
/* link */

.link {
  color: #2e3841;
  font-weight: 500;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.link:hover {
  color: #f1c232;
}

/* errors */

.field-error {
  border-color: #fc0f03;
  outline-color: #fc0f03;
}
.error-message {
  font-size: 14px;
  color: #fc0f03;
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.active {
  border-bottom: 2px solid rgb(250 204 21);
  padding-bottom: 3px;
}

#scene > canvas {
  border-radius: 1rem;
}

.filling-container {
  position: relative;
  width: 65%;
}
#filling_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f1c232;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
#filling_progressBar {
  width: 45%;
  height: 5px;
  background-color: #f1c232;
  border-radius: 3px;
  position: absolute;
  top: 12px;
  left: 0;
  z-index: 0;
}

.clamp-two-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.order-wrapper {
  height: calc(100vh-220px);
}

.basket-sidebar::-webkit-scrollbar {
  width: 5px;
}

.basket-sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.178);
}

.basket-sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(204, 202, 202, 0.863);
  border-radius: 5px;
}

@media (max-width: 768px) {
  .title-divider {
    margin: 12px 0;
  }

  .order-wrapper {
    height: calc(100vh-183px);
  }
}

.carousel-grid {
  width: 100%;
  padding-top: 57px;
  padding-bottom: 35px;
  background-color: transparent;
  overflow-x: hidden;
  position: relative;
  display: flex;
  width: fit-content;
  justify-content: center;
  margin: 0 auto;
  animation: scroll-left 20s infinite linear;
}

.carousel-list {
  display: flex;
}

.carousel-item {
  display: flex;
  min-width: 360px;
  height: 100px;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: all 0.4s ease-in-out;
}

.carousel-item img {
  width: 100%;
  max-width: 180px;
  height: auto;
  filter: grayscale(100%);
  transition: 0.3s ease-in;
}

.carousel-item img:hover {
  filter: none;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-2880px);
  }
}

@media (max-width: 769px) {
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-2400px);
    }
  }

  .carousel-item {
    min-width: 300px;
  }

  .carousel-item img {
    max-width: 160px;
  }
}

@media (max-width: 640px) {
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-1600px);
    }
  }

  .carousel-item {
    min-width: 200px;
  }

  .carousel-item img {
    max-width: 120px;
  }
}
.swiper-button-prev,
.swiper-button-next {
  background-color: #f1c232;
  border-radius: 50%;
}

.swiper-button-disabled {
  background-color: #b2bdc5;
}

.swiper-button-disabled img {
  filter: brightness(0) invert(1);
}

.feedback-form img {
  width: 100%;
}

.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;

  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  &:active {
    background-color: #eeeeee;
  }

  &:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
      0 0 0 3px #c8dafc;
  }

  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
}

/* tabs*/
.tab a {
  color: white;
}

.tab.inactive a {
  color: #2a343e;
}

/* lightbox icons */
.lg-toolbar .lg-close::after {
  content: "\2715";
}

.lg-next::after {
  content: "\2192";
}

.lg-prev::after {
  content: "\2190";
}
