@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'tom-select/dist/css/tom-select.css';
@import 'dropzone/dist/dropzone.css';

@import "components/pagy";
@import "components/form";
@import "components/select";
@import "components/checkboxes-radiobuttons";
@import "components/toggle-switch";
@import "components/typography";
@import "components/dropzone";
@import "components/drawer";
@import "components/metrics";


div.field_with_errors > label {
  @apply border-red-500;
}

div.field_with_errors > :is(input, textarea, select) {
  @apply border-red-500 placeholder-red-500;
}

#stuff_to_hide {
  display: none;
}

*,
::after,
:before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}


html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;    
}

body:has(.drawer-wrapper[open]){
  overflow: hidden;
}

/* content */

.content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

/* input */

input, select {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding: 0 16px;
  border: 1px solid #6e7579;
}

input[type="checkbox"]{
  display: flex;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  padding: 0;
}

/* dividers */

.title-divider,
.content-divider {
  margin: 20px 0;
  height: 1px;
  background-color: #b2bdc5;
}

.content-divider {
  margin: 12px 0;
}

.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* button */

.button {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1c232;
  border-radius: 12px;
  text-transform: uppercase;
  color: #302232;
  font-weight: 500;
  border: 0;
  cursor: pointer;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.button:hover {
  background-color: #f0b400;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.151);
}

.bg-header{
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
/* link */

.link {
  color: #2e3841;
  font-weight: 500;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.link:hover {
  color: #f1c232;
}

/* errors */

.field-error {
  border-color: #fc0f03;
  outline-color: #fc0f03;
}
.error-message {
  font-size: 14px;
  color: #fc0f03;
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.active {
  border-bottom: 2px solid rgb(250 204 21);
  padding-bottom: 3px;
}

#scene > canvas {
  border-radius: 1rem;
}

.filling-container {
  position: relative;
  width: 65%;
}
#filling_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f1c232;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
#filling_progressBar {
  width: 45%;
  height: 5px;
  background-color: #f1c232;
  border-radius: 3px;
  position: absolute;
  top: 12px;
  left: 0;
  z-index: 0;
}

.clamp-two-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.order-wrapper {
  height: calc(100vh-220px);
}

.basket-sidebar::-webkit-scrollbar {
  width: 5px;
}
 
.basket-sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.178);
}
 
.basket-sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(204, 202, 202, 0.863);
  border-radius: 5px;
}

@media (max-width: 768px) {
  .title-divider {
    margin: 12px 0;
  }

  .order-wrapper{
    height: calc(100vh-183px);
  }
}
