<div class="flex flex-col p-5 bg-dark-blue rounded-3xl">
  <p class="text-gray-500">
    <span class="animate-pulse bg-gray-200 block py-2.5 rounded w-3/4"></span>
  </p>
  <div>
    <div class="bg-pattern-disabled-bright h-[240px] my-2 w-full"></div>
  </div>
  <div class="space-y-4">
    <p class="text-white text-base font-medium clamp ">
      <span class="w-5/6 py-1.5 rounded animate-pulse bg-gray-200 block"></span>
    </p>
    <p class="text-xl text-white pt-1">
      <span class="w-1/6 py-1.5 rounded animate-pulse bg-gray-200 block"></span>
    </p>
  </div>
</div>