<%- @products.each do |product| %>
  <%= link_to product_path(product.id) do %>
    <div class="bg-dark-blue h-56 md:h-72 relative rounded-3xl">
      <div class="px-5 py-5">
        <p class="text-zinc-400 text-base">
          <%= product.product_category.name%>
        </p>
        <h4 class="text-white text-base font-medium clamp">
          <%= product.name %>
        </h4>
        <p class="text-xl text-white mt-[23px]">
          ₴ <%= product.price.to_i %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>
