<div class="pb-4">
	<h4 class="text-lg text-gray-800">
    Categories
  </h4>
	<div class="mt-3 ">
	</div>
</div>
<hr />
<div class="px-5">
	<button class="py-2 rounded w-full button w-full md:max-w-[212px]">Search</button>
</div>