<div class="pb-4">
	<h4 class="text-lg text-gray-800">
    Categories
  </h4>
	<div class="mt-3">
		<div class="flex justify-between">
			<div class="flex items-center">
				<input id="medical_models" type="radio" name="category" class="w-2.5 h-2.5 appearance-none bg-white ring-1 ring-offset-2 ring-gray-400 focus:outline-0 checked:bg-yellow-500 bg-none " style="color:#facc15 ; background-image: none; border: none; border-radius: 50%;"/>
				<label for="medical_models" class="ml-3">Медичні моделі</h5>
			</div>
			<p>765</p>
		</div>
	</div>
</div>
<hr />
<div class="pt-5 pb-3 text-gray-800">
	<a href="#">
		<button class="w-full py-2 bg-yellow-400 flex flex-center justify-center rounded hover:bg-yellow-500">Search</button>
	</a>
</div>