<div class="pb-4">
	<h4 class="text-lg text-gray-800">
    Categories
		<%= search_form_for @q, data: { turbo_frame: "results" } do |f| %>
			<% @product_categories.each do |category| %>
				<div class="form-grid-single narrow mb-5">
					<div class="form-check">
						<%= check_box_tag("q[product_category_name_eq_any][]", category.name) %>
						<label>
							<%= category.name %>
						</label>
					</div>
				</div>
			<% end %>
			<hr />
			<div class="px-5">
				<%= f.submit "Search", class: "py-2 rounded w-full button w-full md:max-w-[212px]" %>
			</div>
		<% end %>
  </h4>
	<div class="mt-3 "></div>
</div>
