<%= turbo_stream.append("products_list") do %>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:ml-10 pb-16">
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </div>
  <div class="flex mt-12 items-center justify-center space-x-4 w-full">
    <%== pagy_nav(@pagy) %>
  </div>
  <p class="text-center mt-8 text-gray-500"><%== pagy_info @pagy %></p>
<% end %>
