<div class="w-full my-2 mt-16">
  <%= image_tag("partials_img/empty_busket.png", class: "mx-auto my-auto w-40 object-contain mb-4") %>
  <div class="flex justify-around">
    <span class="text-heading-4">
      No information about product at the moment
    </span>
  </div>
</div>